*{margin: 0;padding: 0;outline: none;font-family: lanting;}
a{text-decoration: none;color: #000}
li{list-style: none;}
body{width: 100%;height: 100%;color: #333;font-family: lanting,Arial;}
@font-face {
    font-family: lanting;
    src: url(lantingx.ttf);
}
.clear{clear: both;}
.body,.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;

}
.menu{position: fixed;width: 100%;height: 60px;top: -60px;z-index: 110;transition:transform 0.6s;}
.menu-left{position: relative;background-color: #fff;height: 60px;float: left;}
.menu-right{position: relative;float: right;height: 60px}
.menu-left .logo{
    width: 64px;
    height: 60px;
    background-color: #6cbfef;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
}
.menu-left .logo img{
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;  
    right: 0;
    bottom: 0;
}
.menu-left h3{line-height: 60px;float: left;font-size: 18px;}
.perspe{perspective:1000;height: 60px;width: 80px;float: left;position: relative;cursor: pointer;}
.rota{position: relative;height: 60px;width: 80px;transition: 0.6s;transform-style: preserve-3d;}
.perspe:hover .rota{transform:rotateX(180deg);}
.rota a{display: block;position: absolute;top: 0;left: 0;width: 80px;height: 60px;backface-visibility: hidden;
background-color: #fff;line-height: 60px;text-align: center;}
.rota a img{height: 48%;margin-top: 17px}
.contact{width: 134px;height: 60px;position: relative;float: left;background-color: #fff;cursor: pointer;}
.yellow{width:94px;height: 25px;position: absolute;margin: auto;left: 0;right: 0;top: 0;bottom: 0}
.yellow a{line-height: 25px;position: relative;width: 100%;height: 100%;display: block;border-top-left-radius:13px;
    border-top-right-radius:13px;border-bottom-left-radius:13px;border-bottom-right-radius:13px;text-align: center;background-color:#FFD924 }
.folder{height: 60px;width: 50px;float: left;position: relative;background-color: #fff;}
.folder a{display: block;position: absolute;font-size: 20px;margin: auto;top: 0;right: 0;bottom: 0;left: 0;color: rgba(166, 171, 169, 0.95);
width: 30px;height: 25px}

.globe{position: fixed;z-index: 100;right: 51px;top: 51px;width:51px;height: 51px }
.globe a{display: block;border-radius: 50%;width: 50px;height: 50px;background-color: #6cbfef;
    position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
    -webkit-animation-name:'globe';
    -webkit-animation-duration: .9s;
    -webkit-animation-timing-function: linear; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
.globe a div{color:#fff;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;width: 26px;height: 26px;
    -webkit-animation-name:'globe2';
    -webkit-animation-duration: .9s;
    -webkit-animation-timing-function: linear; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes 'globe'
{
0%{width:50px;height: 50px;}
50%{width: 40px;height: 40px}
100%{width: 50px;height: 50px;}
}
@-webkit-keyframes 'globe2'
{
0%{width:26px;height: 26px;font-size:26px}
50%{width:20px;height: 20px;font-size: 20px;}
100%{width:26px;height: 26px;font-size: 26px}
}


.mainBlock{
    width: 100%;
    height: 100%;
}
.homepage{/*他的高度是可视区域的高度*/
	overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
}
.bg-homepage{/*如果它不设置高度，高度随宽度自适应*/
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}
.bg-homepage img{/*如果它不设置高度，高度随宽度自适应*/
	width: 100%;
	height: 115.1%;
}
.homepage-center{
	z-index: 2;
}
#load1{
	position: absolute;
    width: 29%;
    left: 35%;
    bottom: 43.5%;
    z-index: 4;
}
#load2Container{
    position: absolute;
    width: 29%;
    left: 35%;
    bottom: 44.5%;
    z-index: 2;
}
#load2{
    position: absolute;
    width:100%; 
    left: 1%;

}
#slogan{
	position: absolute;
	left: 30%;
	bottom: 35%;
    font-size: 20px;
}
.hoverImgHandle{
	position: absolute;
	cursor: pointer;
}

.hoverImg{
	width: 0;
	position: absolute;
}
#designImgHandle{/*父元素和子元素分别定位是为了鼠标hover的位置和放大的图片的位置是正确的*/
	width: 4%;
    top: 47.5%;
    left: 14.5%;
    height: 7%;
}
#designImg{
	top: -50%;
    left: -326%;
}
#designImgHandle:hover #designImg{
	-webkit-animation-name:'designscale';
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes 'designscale'
{
0%{width: 500%;}
50%{width: 501%;}
100%{width: 500%;}
}
#webImgHandle{
	width: 4.5%;
    top: 80%;
    left: 67%;
    height: 7%;
}
#webImg{
	top: -39%;
    left: -22%;
}
#webImgHandle:hover #webImg{
	-webkit-animation-name:'webscale';
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes 'webscale'
{
0%{width: 300%;}
50%{width: 301%;}
100%{width: 300%;}
}
#pmImgHandle{
	width: 3%;
    top: 55%;
    left: 87.5%;
    height: 9%;
}
#pmImg{
    top: -93%;
    left: -27.1%;
}
#pmImgHandle:hover #pmImg{
	-webkit-animation-name:'pmscale';
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes 'pmscale'
{
0%{width: 200%;}
50%{width: 201%;}
100%{width: 200%;}
}
#iosImgHandle{
	width: 4%;
    top: 85%;
    left: 37.5%;
    height: 6%;
}
#iosImg{
	top: -90%;
    left: -50.5%;
}
#iosImgHandle:hover #iosImg{
	-webkit-animation-name:'iosscale';
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes 'iosscale'
{
0%{width: 400%;}
50%{width: 401%;}
100%{width: 400%;}
}
#labImgHandle{
	width: 3%;
    top: 82.5%;
    left: 19%;
    height: 8%;
}
#labImg{
	top: -39%;
    left: -40.5%;
}
#labImgHandle:hover #labImg{
	-webkit-animation-name:'labscale';
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes 'labscale'
{
0%{width: 500%;}
50%{width: 502%;}
100%{width: 500%;}
}
#monkeyImgHandle{
	width: 4%;
    top: 25%;
    left: 26%;
    height: 10%;
}
#monkeyImg{
	top: 10%;
    left: -511.5%;
}
#monkeyImgHandle:hover #monkeyImg{
	-webkit-animation-name:'monkeyscale';
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes 'monkeyscale'
{
0%{width: 650%;}
50%{width: 651%;}
100%{width: 650%;}
}
#androidImgHandle{
	width: 4.5%;
    top: 19%;
    left: 48%;
    height: 9%;
}
#androidImg{
	top: -87.5%;
    left: -352.1%;
}
#androidImgHandle:hover #androidImg{
	-webkit-animation-name:'androidscale';
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes 'androidscale'
{
0%{width: 500%;}
50%{width: 502%;}
100%{width: 500%;}
}
#yearImgHandle{
	width: 5%;
    top: 38%;
    left: 77%;
    height: 9%;
}
#yearImg{
	top: -25%;
    left: -39%;
}
#yearImgHandle:hover #yearImg{
	-webkit-animation-name:'yearscale';
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes 'yearscale'
{
0%{width: 350%;}
50%{width: 351%;}
100%{width: 350%;}
}
/*-------------------------------------------------------------
-------------------------------------------------------------*/
.introduction{
    overflow: hidden;
    position: absolute;
    top:0;
    z-index: 19;
    background-color: #fff;
}
.introduction-wrapper{
    width:80%;
    height: 100%;
    margin:0 auto;
    padding-top: 66px; 
}
.introduction-left{
    float: left;
    width: 30%;  
}
.img-interval{
    perspective:1000;
}
.img-interval:hover .aaaa{
    transform:rotateX(180deg);
}
.introduction-left div div{
    height: 180px;
    width: 320px;
    margin-left:52px;
    margin-bottom: 14px;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.introduction-left img{
    height: 180px;
    width: 328px;
    position: absolute;
    top: 0;
    left: 0; 
    backface-visibility: hidden;
}
.z{z-index: 2;}
.f{transform:rotateX(180deg);}

.introduction-right{
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
}
.introduction-right p{
    display: block;
    width: 577px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-left: 150px;
    text-indent: 30px;
}
.introduction-text{
    position: absolute;
    right: 28px;
    top:97px;
    opacity: 0;
} 
.introduction-text.introduction-text-on{
    opacity: 1;
}
.introduction-button{
    position: absolute;
    bottom: 19%;
    left: 42%;
}
.introduction-button a{
    display: block;
    border: 1px solid #000;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: left;
    margin-right: 38px;
}
.buttonOn{
    background-color: black!important;
}
/*-------------------------------------------------------------
-------------------------------------------------------------*/
.groups{
    overflow: hidden;
    position: absolute;
    top:0;
    z-index:18;
    background-color: #fff;
}
.groups-left{
    width: 50%;
    height: 100%;
    float: left;
}
.groups-left-list{
    padding-top: 200px;
    float: left;
    width: 15%;
    height: 100%;
}
.groups-left ul{
    width: 20%;
    display: block;
    margin: 0 auto;
}
.groups-left ul li{
    margin-bottom: 15px;
}
.groups-button li a{
    margin: 0 auto;
    display: block;
    border: 1px solid #000;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.prev{
    display: block;
    height: 17px;
    width: 17px;
    border-left: none;
    border-right: none;
    border-right: solid #000 1px;
    border-top: solid #000 1px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.next{
    display: block;
    height: 17px;
    width: 17px;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    border-left: solid #000 1px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.groups-left-box{
    position: relative;
    float: left;
    width: 85%;
    height: 100%;
}
.groups-left-slide{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.android{
    position: relative;
    width: 100%;
    background-color: #bcdebd;
}
.ios{
    position: relative;
    background-color: #b2dfdb;
    width: 100%;
}
.design{
    position: relative;
    background-color: #fbe0e9;
    width: 100%;
}
.pm{
    position: relative;
    background-color: #fef9cb;
    width: 100%;
}
.web{
    position: relative;
    background-color: #ACDBEF;
    width: 100%;
}
.lab{
    position: relative;
    background-color: #dfcec7;
    width: 100%;
}
.groups-img{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 14%;
}

.groups-right{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}
.groups-text-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.groups-text{
    min-height: 380px;
    width: 70%;
    height: 35%;
    margin: 0 auto;
    padding-top: 160px;
}
.groups-first{
    opacity: 1;
}
.groups-text img{
    height: 29%;
    margin-bottom: 20px;
}
.groups-text p{
    font-size: 16px;
    line-height: 32px;
    font-family: 'Microsoft yahei';
    color:#333333;
}
/*-------------------------------------------------------------
-------------------------------------------------------------*/
.greatEvent{
    overflow: hidden;
    position: absolute;
    top:0;
    z-index:17;
    background-color: #fff;
}
.round{
    background-color: #fff;
    z-index: 23;
    position: absolute;
    left: 9%;
    top: 100%;
}
.round img{
    width: 80px;
    height: 62px;
}
.round span{
    color: #333333;
    position: absolute;
    margin: auto;
    width: 41px;
    height: 18px;  
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/*--------------------------*/
.greatEvent-main ul{
    position: absolute;
    left: 38%;
    bottom:60px;
}
.greatEvent-main ul li{
    float: left;
}
.greatEvent-button li a{
    display: block;
    border: 1px solid #000;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: left;
    margin-right: 20px;
}
/*--------------------------*/
.greatEvent-main{
    position: absolute;
    left: 12%;
    width: 88%;
    height: 100%;
    border-left: 1px solid #D9D5D5;
}
.img-content{
    width: 450px;
    position:absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
.greatEvent-main .img-content-one{opacity: 1;}
.img-content img{
    margin-top: 195px;
    width: 450px;
    height: 253px;
    margin-bottom: 20px;
}
.img-content p{
    font-size: 14px;
    text-align: center;
}
/*--------------------------*/
.img2-content{
    position: absolute;
    width: 902px;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.img2-content div{
    float: left;
    margin: 217px 45px 0 45px;
    width: 361px;
    opacity: 0;
}
.img2-content div img{
    width: 361px;
    height: 201px;
    margin-bottom: 20px;
}
.img2-content div p{
    font-size: 14px;
    text-align: center;
}
/*--------------------------*/
.img9-content{
    width: 906px;
    height: 504px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}
.img9-content div{
    float: left;
    width: 270px;
    height: 150px;
    position: relative;
    margin:0 16px 18px 16px;
    opacity: 0;
}
.img9-content div img{
    width: 270px;
    height: 150px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1
}
.greyCover{
    opacity: 0;
    display: block;
    width: 270px;
    height: 150px;
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    margin: 0!important;
}
.greyCover p{
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    bottom:10px;
    left: 0;
    right: 0;
    font-weight: 600;
}
.img9-content div:hover .greyCover{
    transition-property:opacity;
    transition-duration:0.25s;
    transition-timing-function:linear;
    z-index: 22;
    opacity: 1;
}
/*--------------------------*/

.img3-content{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}
.img3-content div{
    width: 361px;
    height: 201px;
    position: absolute;
    opacity: 0;
}
.img-left{
    top: 93px;
    left: 196px;
}
.img-right{
    top: 93px;
    left: 647px;
}
.img-middle{
    top: 346px;
    left: 422px;
}
.img3-content div img{
    width: 361px;
    height: 201px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1
}
.greyCover2{
    opacity: 0;
    display: block;
    width: 361px;
    height: 201px;
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    margin: 0!important;
}
.greyCover2 p{
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    bottom:10px;
    left: 0;
    right: 0;
    font-weight: 600;
}
.img3-content div:hover .greyCover2{
    transition-property:opacity;
    transition-duration:0.25s;
    transition-timing-function:linear;
    z-index: 22;
    opacity: 1;
}

/*-------------------------------------------------------------
-------------------------------------------------------------*/
.works{
    overflow: hidden;
    position: absolute;
    top:0;
    z-index:16;
    background-color: #fff;
}
.works-button{
    position: absolute;
    left: 41%;
    bottom:60px;
}
.works-button li{
    float: left;
}
.works-button li a{
    display: block;
    border: 1px solid #000;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: left;
    margin-right: 20px;
}
.gallery{
    position: absolute;
    top:25%;
    height: 36%;
    width: 100%;
}
.gallery-img-wrapper{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.gallery img{
    float: left;
    height: 100%;
}
.worksList-wrapper{
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
}
.worksList{
    height: 100%;
    float: left;
    position: relative;
}
.worksList img{
    height: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 18%;
}
.workstext{
    position: absolute;
    top:70%;
    margin: auto;
    left: 0;
    right: 0;
    height: 18%;
}
.worksp{height: 50%}
.worksp p{
    font-size: 14px;
    line-height: 2em;
    opacity: 0;
    width: 98%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.workstitle{
    height: 50%;
    position: relative;
}
.rouleau{
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 147px;
    transition-property:width;
    transition-duration:0.25s;
    transition-timing-function:ease-in-out;
}

.worksName{
    font-size: 24px!important;
    position: absolute;
    margin: 0 auto;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0;
}
.leauO{
    float: left;
    height: 180%;

    -webkit-animation-name:'leauWidth';
    -webkit-animation-duration: .2s;
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
   }
.leauT{
    float: right;
    height: 180%;}


}

@-webkit-keyframes 'leauWidth' {
0%{transform:transform:rotateY(180deg); transform-style: preserve-2d;}
100%{transform:rotateY(0deg); transform-style: preserve-2d;}
}


.on{opacity: 1!important}
/*-------------------------------------------------------------
-------------------------------------------------------------*/
.aboutus{
    background-color: #fff;
    overflow: hidden;
    z-index:15;
    top: 0;
    position: absolute;
}

.about-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
}

.aboutus-button{
    position: absolute;
    left: 2.5%;
    top: 45%;
}
.aboutus-button li{
    margin-bottom: 50px;
    line-height: 10px;
    font-size: 16px;
}
.aboutus-button li a{
    display:block;
    border: 1px solid #000;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: left;
    margin-right: 20px;
}
.about-wrapper{
    position: absolute;top: 0;
}
.about{
    height: 100%;
    position: relative; 
    width: 70%;
    margin: 0 auto;
}
.about form{
    width: 85%;
    height: 372px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
}
.join input{
    width:189px;
    height: 26px;
    font-size: 'Microsoft yahei';
    padding-left: 5px;
    margin-bottom: 25px;
}
.form-left{float: left;width: 50%;}
#spanBox{float: left;width: 30%; margin-left: -20px;}
#spanBox span{
    display: block;
    margin-bottom: 37px;
    text-align: right;
    padding-right: 15px;
}
#inputBox{float: left;width: 70%;}
#inputBox div input{width: 15%;height: 16px;margin-top:12px; }
#groupRadio{position: absolute;left: 13%;}
#groupRadio input{width: 14%!important;height: 16px;margin-top:0!important;}

.form-right{float: right;width: 50%;}
.form-right label{display: block;font-size: 18px;text-indent: 80px;margin-bottom: 25px}
.form-right textarea{width: 337px;height: 221px;margin-left: 80px}
.form-right input{width: 165px;height: 40px;color: #fff;background-color: #6AC0EF;
    border-style: none;border-radius: 4px;border: none;font-size: 16px;margin-left: 160px;
    margin-top: 36px;}

.contact-wrapper{
    margin: 0 auto;
    width: 86%;
    height: 78%;
    margin-top: 11%;
}
.contact-left{
    position: relative;
    width: 45%;
    height: 462px;
    float: left;
    overflow: hidden;
}
.contact-left form{
   padding-left: 60px;
    height: 462px;
    margin: 0 auto;
    display: block;
    background: url("images/form.jpg");
    background-size: 334px 462px;
    background-repeat:no-repeat;

}
.contact-left form input{border: none;border-bottom: 1px solid black;margin-left: 20px;height: 40px;
    background-color: transparent;line-height: 50px;}
.contact-left form p{vertical-align: bottom;}
.advice{display: block;margin-top: 30px}
.advice2{width: 225px;height: 115px;background-color: transparent;}
#submit2{border: none;width: 90px;height: 37px;border-radius: 4px;color: #fff;background-color: #6AC0EF;font-size: 16px;
line-height: 37px;margin-left: 63px;margin-top: 34px}
.contact-right{
    width: 43%;
    float: right;
    height: 462px;
    overflow: hidden;
    margin: 0 auto;
}
.contact-right a{margin-right: 20px}
.contact-right a img{
    width: 50px;
    height: 50px;
}
.contact-right p{
    display: block;
    margin-bottom: 15px;
    line-height: 1.5em;
}






 